aniso8601==7.0.0
Django==2.2.6
django-active-link==0.1.6
django-extensions==3.1.5
django-session-timeout==0.0.4
django-widget-tweaks==1.4.5
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
pendulum==2.1.2
promise==2.3
psycopg2-binary==2.8.3
python-dateutil==2.8.2
pytz==2019.3
pytzdata==2020.1
Rx==1.6.1
singledispatch==3.7.0
six==1.13.0
sqlparse==0.3.0
text-unidecode==1.3